* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: #fbfbfb;
    /* font-family: "Inter", sans-serif; */
}



/* SHARED/REUSABLE STYLES */

.wrapper {
    max-width: 1600px;
    margin: 0 auto;
}

.container {
    max-width: 1360px;
    margin: 0 auto;
}

.section-heading {
    /* background-color: red; */
    margin-bottom: 44px;
}

.section-heading h2 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    color: rgba(0, 25, 49, 1);
    margin-bottom: 16px;
}

.section-heading p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    /* text-transform: capitalize; */
    color: rgba(98, 115, 130, 1);
    margin-bottom: 16px;
}

/* NAVBAR STYLES */
.navbar-parent {
    width: 100%;
    height: 92px;
    padding: 16px 0px;
    background: white;
}

nav {
    /* background: greenyellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1360px;
    margin: 0 auto;
}

.header-logo {
    width: 139px;
    height: 60px;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    gap: 32px;
    max-width: 365px;
    text-decoration: none;
}

.nav-menu a {
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}

.button {
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    background: rgba(70, 145, 101, 1);
    color: white;
    cursor: pointer;
}

.button-transparent {
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 4px;
    border: 1px solid white;
    background: transparent;
    /* background: rgba(70, 145, 101, 1); */
    color: white;
    cursor: pointer;
}

/* HERO STYLES  */

.hero-parent {
    width: 1600px;
    height: 674px;
    background: linear-gradient(rgba(0, 0, 0, 0.205), rgba(28, 105, 194, 0.295)), url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: 70px 120px 134px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.hero-container {
    /* background-color: red; */
    max-width: 1360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: auto auto; */
}

/* Early Access */
.hero-container div:nth-child(1) {
    display: inline-block;
    color: rgba(70, 145, 101, 1);
    background-color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 100px;
    margin-bottom: 16px;
}

/* Heading  */
.hero-container div:nth-child(2) {
    max-width: 770px;
    color: white;
    margin: 0 auto;
    margin-bottom: 16px;
}

.hero-container div:nth-child(2) h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    text-align: center;
}

.hero-container div:nth-child(2) h1 span {
    font-size: 72px;
    font-weight: 700;
    color: rgba(70, 145, 101, 1);
}


/* Hero Para  */
.hero-container p {
    max-width: 800px;
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-bottom: 32px;
}

/* Hero Buttons Container  */
.hero-container div:nth-child(4) {
    display: flex;
    gap: 16px;
}


/* STYLES FOR NOTES SECTION  */
.notes-section-parent {
    /* width: 1600px; */
    height: 448px;
    overflow: hidden;
    background-color: #fbfbfb;
}

.notes-section-parent>div>div {
    padding-top: 60px;
}

.notes-section-parent .cards-parent {
    /* background: red; */
    display: flex;
    gap: 24px;
    ;

}

/* card  */
.notes-section-parent .cards-parent .card {
    background-color: white;
    padding: 24px;
    /* background: green; */
    width: 322px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1); */
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

/* card content > image  */
.card div:nth-child(1) {
    width: 60px;
    height: 60px;
    background-color: rgba(249, 85, 85, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.card h3 {
    font-size: 24px;
    font-weight: 600;
    color: rgba(0, 25, 49, 1);
    margin-bottom: 16px;
    text-align: center;
    text-transform: capitalize;
}

.card p {
    font-size: 16px;
    font-weight: 400;
    /* line-height: 20px; */
    color: rgba(98, 115, 130, 1);
    text-align: center;
}


/* Brain Section  */
.brain-section {
    background-color: white;
    padding: 120px;

}

.brain-section-container {
    display: flex;
    gap: 60px;
    align-items: center;
    /*justify-content: center; */
}

.brain-section-image {
    width: 600px;
    height: 600px;
}

.brain-section-text-content h6 {
    font-size: 16px;
    font-weight: 500;
    color: rgba(70, 145, 101, 1);
    text-transform: uppercase;
    margin-bottom: 16px;
}

.brain-section-text-content h2 {
    font-size: 48px;
    font-weight: 700;
    text-transform: capitalize;
    color: rgba(0, 25, 49, 1);
    margin-bottom: 16px;
}

.brain-section-text-content>p {
    font-size: 16px;
    font-weight: 400;
    color: rgba(98, 115, 130, 1);
    /* color: red; */
    margin-bottom: 40px;
}


.check-list-container {
    display: flex;
    gap: 6px;
    margin-bottom: 16px;
}

/* icon container  */
.check-list-container>div {
    width: 18px;
    height: 18px;
    /* padding: 2px; */
    background-color: rgba(48, 184, 104, 1);
    border-radius: 50%;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.check-list-container>div>i {
    font-size: 8px;
}

.check-list-container>p {
    color: rgba(0, 25, 49, 1);
    font-size: 16px;
    font-weight: 500;
}


/* early-access-section */
.early-access-section {
    margin-bottom: 120px;
}

.early-access-section>div {
    background-color: #f7f6f2;
    padding: 80px 0px;
}

.early-access-section .section-heading h2 {
    font-size: 40px;
    /* line-height: 44px; */
}

.early-access-section .section-heading {
    margin-bottom: 24px;
}

.early-access-section-content {
    text-align: center;
}

.early-access-section-content>button {
    margin-bottom: 16px;
}

/* footer section  */
.footer-section {
    background-color: rgba(0, 25, 49, 1);
    padding-top: 120px;
    padding-bottom: 30px;
}

.footer-content-row-1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.footer-content-row-1 div:nth-child(2) h6 {
    /* background-color: red; */
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-bottom: 16px;
}

.footer-content-row-1 div:nth-child(2) div {
    display: flex;
    gap: 16px;
}


.footer-content-row-1 div:nth-child(2) a {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
}

.footer-content-row-1 div:nth-child(2) i {
    color: black;
    font-size: 12px;
    padding-left: 4px;
    /* max-width: 10px;
    max-height: 10px; */
}

.footer-content-row-1>div:nth-child(2)>div>a:nth-child(2)>i {
    padding-left: 5px;
}

.footer-content-row-2 > p {
    color: white;
    font-size: 16px;
    text-align: center;
    padding-top: 30px;

    border-top: 1px solid rgba(255, 255, 255, 0.2);
}