* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: white;
    /* font-family: "Inter", sans-serif; */
}



/* SHARED/REUSABLE STYLES */

.wrapper{}

.container{}


/* NAVBAR STYLES */
.navbar-parent {
    width: 100%;
    height: 92px;
    padding: 16px 0px;
}

nav {
    /* background: greenyellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1360px;
    margin: 0 auto;
}

.header-logo {
    width: 139px;
    height: 60px;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    gap: 32px;
    max-width: 365px;
    text-decoration: none;
}

.nav-menu a {
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}

nav button {
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    background: rgba(70, 145, 101, 1);
    color: white;
    cursor: pointer;
}

