* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: white;
    /* font-family: "Inter", sans-serif; */
}



/* SHARED/REUSABLE STYLES */

.wrapper {}

.container {}


/* NAVBAR STYLES */
.navbar-parent {
    width: 100%;
    height: 92px;
    padding: 16px 0px;
}

nav {
    /* background: greenyellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1360px;
    margin: 0 auto;
}

.header-logo {
    width: 139px;
    height: 60px;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    gap: 32px;
    max-width: 365px;
    text-decoration: none;
}

.nav-menu a {
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}

.button {
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    background: rgba(70, 145, 101, 1);
    color: white;
    cursor: pointer;
}

.button-transparent {
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 4px;
    border: 1px solid white;
    background: transparent;
    /* background: rgba(70, 145, 101, 1); */
    color: white;
    cursor: pointer;
}

/* HERO STYLES  */

.hero-parent {
    width: 1600px;
    height: 674px;
    background: linear-gradient(rgba(0, 0, 0, 0.205), rgba(28, 105, 194, 0.295)), url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: 70px 120px 134px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.hero-container {
    /* background-color: red; */
    max-width: 1360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: auto auto; */
}

/* Early Access */
.hero-container div:nth-child(1) {
    display: inline-block;
    color: rgba(70, 145, 101, 1);
    background-color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 100px;
    margin-bottom: 16px;
}

/* Heading  */
.hero-container div:nth-child(2) {
    max-width: 770px;
    color: white;
    margin: 0 auto;
    margin-bottom: 16px;
}

.hero-container div:nth-child(2) h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    text-align: center;
}

.hero-container div:nth-child(2) h1 span {
    font-size: 72px;
    font-weight: 700;
    color: rgba(70, 145, 101, 1);
}


/* Hero Para  */
.hero-container p {
    max-width: 800px;
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-bottom: 32px;
}

/* Hero Buttons Container  */
.hero-container div:nth-child(4){
    display: flex;
    gap: 16px;
}