* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* CSS varialbes declarations  */
:root {
    --primary: #469165;
    --primary-light: #3a7a56;
    /* --success-green: #28a745;
    --main-text: #333333; */
}

body {
    background: #fbfbfb;
    /* font-family: "Inter", sans-serif; */
}



/* SHARED/REUSABLE STYLES */

.wrapper {
    max-width: 1600px;
    margin: 0 auto;
}

.container {
    max-width: 1360px;
    margin: 0 auto;
}

.section-heading {
    /* background-color: red; */
    /* margin-bottom: 44px; */
}

.section-heading h2 {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    color: rgba(0, 25, 49, 1);
    margin-bottom: 1rem;
}

.section-heading p {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    /* text-transform: capitalize; */
    color: rgba(98, 115, 130, 1);
    /* margin-bottom: 16px; */
}

.button {
    font-size: 1rem;
    font-weight: 600;
    padding: .75rem 1rem;
    border-radius: .25rem;
    border: none;
    background: rgba(70, 145, 101, 1);
    color: white;
    cursor: pointer;

    transition: all 0.3s ease-in-out;


}

.button:hover {
    background: var(--primary-light);
}

.button-transparent {
    font-size: 1rem;
    font-weight: 600;
    padding: .75rem 1rem;
    /* padding-left: 18px; */
    border-radius: .25rem;
    border: 1px solid white;
    background: transparent;
    /* background: rgba(70, 145, 101, 1); */
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;


}

.button-transparent:hover {
    background: white;
    color: var(--primary-light);
}







/* SPECIFIC STYLES  */

/* NAVBAR STYLES */
.navbar-parent {
    height: 92px;
    padding: 1rem 0rem;
    background: white;
}

nav {
    /* background: greenyellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1360px;
    margin: 0 auto;
}



.header-logo {
    width: 140px;
    height: 60px;
    cursor: pointer;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    gap: 32px;
    max-width: 365px;
    text-decoration: none;
}

.nav-menu a {
    text-decoration: none;
    font-size: 1rem;
    color: #000000;
    transition: all 0.3s ease-in-out;
}

.nav-menu a:hover {
    /* color: #30B868; */
    color: var(--primary-light);

}



/* HERO STYLES  */

.hero-parent {
    width: 1600px;
    height: 674px;
    background: linear-gradient(rgba(0, 0, 0, 0.205), rgba(28, 105, 194, 0.295)), url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: 70px 120px 134px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.hero-container {
    /* background-color: red; */
    max-width: 1360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: auto auto; */
}

/* Early Access */
.hero-container div:nth-child(1) {
    display: inline-block;
    color: rgba(70, 145, 101, 1);
    background-color: white;
    font-size: 1rem;
    font-weight: 500;
    padding: .5rem .75rem;
    border-radius: 1000px;
    margin-bottom: 1rem;
}

/* Heading  */
.hero-container div:nth-child(2) {
    max-width: 770px;
    color: white;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.hero-container div:nth-child(2) h1 {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 5.25rem;
    text-align: center;
}

.hero-container div:nth-child(2) h1 span {
    font-size: 4.5rem;
    font-weight: 700;
    color: rgba(70, 145, 101, 1);
}


/* Hero Para  */
.hero-container p {
    max-width: 800px;
    color: white;
    font-size: 1.12rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

/* Hero Buttons Container  */
.hero-container div:nth-child(4) {
    display: flex;
    gap: 1rem;
}




/* STYLES FOR NOTES SECTION  */
.notes-section-parent {
    /* width: 1600px; */
    height: 448px;
    overflow: hidden;
    background-color: #fbfbfb;
}

/* note section heading  */
.notes-section-parent .section-heading {
    padding-top: 3.75rem;
}

.notes-section-parent .cards-parent {
    /* background: red; */
    display: flex;
    gap: 1.5rem;
    padding-top: 2.75rem;


}

/* card  */
.notes-section-parent .cards-parent .card {
    background-color: white;
    padding: 1.5rem;
    /* background: green; */
    /* width: 322px; */
    height: 300px;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1); */
    box-shadow: 0rem 0rem .5rem 0rem rgba(0, 0, 0, 0.06);
    border-radius: .5rem;
}

/* card content > image  */
.card div:nth-child(1) {
    width: 60px;
    height: 60px;
    background-color: rgba(249, 85, 85, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.card h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgba(0, 25, 49, 1);
    margin-bottom: 1rem;
    text-align: center;
    text-transform: capitalize;
}

.card p {
    font-size: 1rem;
    font-weight: 400;
    /* line-height: 20px; */
    color: rgba(98, 115, 130, 1);
    text-align: center;
}


/* Brain Section  */
.brain-section {
    background-color: white;
    padding: 7.5rem;

}

.brain-section-container {
    display: flex;
    gap: 3.75rem;
    align-items: center;
    
    /*justify-content: center; */
}

.brain-section-image {
    width: 600px;
    height: 600px;
}

.brain-section-text-content h6 {
    font-size: 1rem;
    font-weight: 500;
    color: rgba(70, 145, 101, 1);
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.brain-section-text-content h2 {
    font-size: 3rem;
    font-weight: 700;
    text-transform: capitalize;
    color: rgba(0, 25, 49, 1);
    margin-bottom: 1rem;
}

.brain-section-text-content>p {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(98, 115, 130, 1);
    /* color: red; */
    margin-bottom: 2.5rem;
}


.check-list-container {
    display: flex;
    gap: .375rem;
    margin-bottom: 16px;
}

/* icon container  */
.check-list-container>div {
    width: 18px;
    height: 18px;
    /* padding: 2px; */
    background-color: rgba(48, 184, 104, 1);
    border-radius: 50%;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.check-list-container>div>i {
    font-size: .5rem;
}

.check-list-container>p {
    color: rgba(0, 25, 49, 1);
    font-size: 1rem;
    font-weight: 500;
}


/* early-access-section */
.early-access-section {
    background-color: white;
    padding-bottom: 7.5rem;
}

.early-access-container {
    border-radius: .75rem;
}

.early-access-section>div {
    background-color: #f7f6f2;
    padding: 5rem 0rem;
}

.early-access-section .section-heading h2 {
    font-size: 2.5rem;
    /* line-height: 44px; */
}

.early-access-section .section-heading p {
    line-height: 1.5rem;
}

.early-access-section .section-heading {
    margin-bottom: 1.5rem;
}

.early-access-section-content {
    text-align: center;
}

.early-access-section-content button {
    margin-bottom: 1rem;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
}

.early-access-section-content div {
    display: flex; 
    gap: 1.875rem; 
    justify-content: center; 
    align-items: center;
    color: rgba(98, 115, 130, 1);
}

/* footer section  */
.footer-section {
    background-color: rgba(0, 25, 49, 1);
    padding-top: 7.5rem;
    padding-bottom: 1.875rem;
}

.footer-content-row-1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
}

/* social icons container */
.footer-content-row-1 div:nth-child(2) h6 {
    /* background-color: red; */
    font-size: 1.25rem;
    font-weight: 500;
    color: white;
    margin-bottom: 1rem;
}

/* social icons container   */
.footer-content-row-1 div:nth-child(2) div {
    display: flex;
    gap: 1rem;
    width: 220px;
}


.footer-content-row-1 div:nth-child(2) a {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
}

.footer-content-row-1 div:nth-child(2) i {
    color: black;
    font-size: .75rem;
    padding-left: .25rem;
    /* max-width: 10px;
    max-height: 10px; */
}

.footer-content-row-1>div:nth-child(2)>div>a:nth-child(2)>i {
    padding-left: 5px;
}

.footer-content-row-2>p {
    color: white;
    font-size: 1rem;
    text-align: center;
    padding-top: 1.875rem;

    border-top: 1px solid rgba(255, 255, 255, 0.2);
}


.hero-container div:nth-child(1)  {
    display: flex;
    align-items: center;
    gap: .5rem;
}


.hero-container div:nth-child(1)  {
    padding-left: 1rem;
    padding-right: 1rem;
}



